/* Error: Two forwarded modules both define a mixin named loading.
 *   ,
 * 3 | @forward "loading";
 *   | ================== original @forward
 * 4 | @forward "mixins";
 *   | ^^^^^^^^^^^^^^^^^ new @forward
 *   '
 *   assets\style\scss\_forward.scss 4:1  @use
 *   assets\style\scss\style.scss 1:1     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Two forwarded modules both define a mixin named loading.\a   \2577 \a 3 \2502  @forward "loading";\d\a   \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original @forward\a 4 \2502  @forward "mixins";\d\a   \2502  ^^^^^^^^^^^^^^^^^ new @forward\a   \2575 \a   assets\\style\\scss\\_forward.scss 4:1  @use\a   assets\\style\\scss\\style.scss 1:1     root stylesheet';
}
